div{ 
    #colordeBoton{
    background-color: $colorTitulo;
    font-family: Montserrat;
    }
}
div{
    .hablaConmigo{
        background-color: $colorTitulo;
        font-family: Montserrat;
    }

    h3{
        font-family: Roboto;
        text-align: center;
        font-weight: bolder;
        font-size: 1rem;
    }
}
.catering-foto{
    width: 70%;
    border: 4px solid #d1efb5;
}
iframe {
    width: 100%;
}
div{
    .letra-holder{
        font-family: Montserrat;
    }
}
section{
    ul li{
    list-style: none;
    }
}

#contacto{
    background-color:#D0EAB8;
    font-family: Spartan;
}




